@mixin generateWidth($selector) {
  @media (min-width: 360px) {

    #{$selector} {
      width: calc(100% - 40px);
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 1200px) {

    #{$selector} {
      width: 1200px;
    }
  }
}
